Repository Azure/azure-linux-extensions, changes with the owners that CODEOWNERS names for each.
All owners: @nkuchta, @Azure/geneva-linux-agents, @D1v38om83r, @vrdmr, @nitinbps, @kwirkykat, @bpramod, @soumyapattnaik, @vityagi, @vimish, @ejarvi, @vermashi, @Azure/walinuxagent

Removing continueOnUpdateFailure: true flag from this PR
  OmsAgent/HandlerManifest.json
Owners: @Azure/geneva-linux-agents

Checking to prevent error messages from accidental onboarding to multiple workspace (#1029)
  OmsAgent/HandlerManifest.json
  OmsAgent/omsagent.py
Owners: @Azure/geneva-linux-agents

adding continueOnUpdateFailure tag to HandlerManifest
  OmsAgent/HandlerManifest.json
Owners: @Azure/geneva-linux-agents

adding continueOnUpdateFailure tag to HandlerManifest (#1031)
  OmsAgent/HandlerManifest.json
Owners: @Azure/geneva-linux-agents

code review comments
  VMBackup/main/fsfreezer.py
Owners: @bpramod, @soumyapattnaik, @vityagi

changes for skip mount for freeze (#1030)
  VMBackup/main/freezesnapshotter.py
  VMBackup/main/fsfreezer.py
Owners: @bpramod, @soumyapattnaik, @vityagi

ADE: Extension name override.
  .pipelines/pipeline.user.linux.all_buildtype.ade.yml
  VMEncryption/cdpx_build.sh
  VMEncryption/main/Common.py
  VMEncryption/main/ConfigFromFile.py
  VMEncryption/main/extension_name.txt
  VMEncryption/setup.py
  VMEncryption/test/test_build_version.py
  VMEncryption/test/test_config_from_file.py
  VMEncryption/test/test_handler_util.py
Owners: @nkuchta, @vimish, @ejarvi, @vermashi

Passing extension name through a specific YAML file determined by the build tag ade_test3.
  .pipelines/pipeline.user.linux.all_buildtype.ade_test3.yml
  VMEncryption/cdpx_build.sh
Owners: @nkuchta, @vimish, @ejarvi, @vermashi

Added diff operation functionality in config parsing
  Diagnostic/copy_conf.py
  Diagnostic/telegraf.conf
  Diagnostic/test.settings
Owners: @Azure/geneva-linux-agents

Fixed renaming after diff operation
  Diagnostic/copy_conf.py
  Diagnostic/telegraf.conf
Owners: @Azure/geneva-linux-agents

Changing datatype of values getting checked against the return value of int config
  VMBackup/main/guestsnapshotter.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Fixing default for seqsnapshot
  VMBackup/main/handle.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Minor changes
  VMBackup/main/Utils/HandlerUtil.py
  VMBackup/main/fsfreezer.py
  VMBackup/main/handle.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Adding default actions while reading vmbackupconf whereever required
  VMBackup/main/Utils/HandlerUtil.py
  VMBackup/main/freezesnapshotter.py
  VMBackup/main/guestsnapshotter.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Removing stale code
  VMBackup/main/fsfreezer.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Using default in fsfreezer.py
  VMBackup/main/fsfreezer.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Minor Logging fix
  VMBackup/main/handle.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Review changes
  VMBackup/main/Utils/HandlerUtil.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Adding Default values to config settings read from vmbackupconf
  VMBackup/main/Utils/HandlerUtil.py
  VMBackup/main/backuplogger.py
  VMBackup/main/freezesnapshotter.py
  VMBackup/main/handle.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Exiting when command is not enable
  VMBackup/main/handle.sh
Owners: @bpramod, @soumyapattnaik, @vityagi

Removing minor space
  VMBackup/main/Utils/HandlerUtil.py
Owners: @bpramod, @soumyapattnaik, @vityagi

temp fixes for default values of vmbackup.conf
  VMBackup/main/Utils/HandlerUtil.py
  VMBackup/main/backuplogger.py
  VMBackup/main/freezesnapshotter.py
  VMBackup/main/fsfreezer.py
  VMBackup/main/guestsnapshotter.py
  VMBackup/main/handle.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Calling handle.py only when command is enable and minor fixes in handlerUtil.py
  VMBackup/main/Utils/HandlerUtil.py
  VMBackup/main/handle.sh
Owners: @bpramod, @soumyapattnaik, @vityagi

Removing python version check
  VMBackup/main/Utils/HandlerUtil.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Minor changes in fsfreezer.py
  VMBackup/main/fsfreezer.py
Owners: @bpramod, @soumyapattnaik, @vityagi

Minor review comment changes
  VMBackup/main/handle.sh
Owners: @bpramod, @soumyapattnaik, @vityagi

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the following owners will be requested for
# review when someone opens a pull request.
* @nkuchta

# Azure Monitor Agent Extension
/AzureMonitorAgent/ @Azure/geneva-linux-agents

# CustomScript Extension
/CustomScript/ @D1v38om83r @nkuchta @vrdmr

# Diagnostics (LAD) Extension
/Diagnostic/ @Azure/geneva-linux-agents

# DSCForLinux Extension
/DSC/ @nitinbps @kwirkykat

# OMS Agent Extension
/OmsAgent/ @Azure/geneva-linux-agents

# OpenCensus Translator Extension
/opencensus-service/ @Azure/geneva-linux-agents

# VMAccess Extension
/VMAccess/ @D1v38om83r @nkuchta @vrdmr

# VMBackup Extension
/VMBackup/ @bpramod @soumyapattnaik @vityagi

# VMEncryption Extension
/VMEncryption/ @vimish @ejarvi @vermashi

# WALinuxAgent
/Common/ @D1v38om83r @nkuchta @vrdmr @Azure/walinuxagent
/Utils/ @D1v38om83r @nkuchta @vrdmr @Azure/walinuxagent

# Abandoned?
# /AzureEnhancedMonitor/ 
# /OSPatching/ 
# /RDMAUpdate/
# /SampleExtension/
# /TestHandlerLinux/
# /docs/
# /registration-scripts/
# /script/
# /ui-extension-packages/
